/* globals.css */

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poppins);
}

body {
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}